{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ team.name }}</h1>

    <div class="col-12 col-md-6 mx-auto">
        {{ form_start( editTeamForm ) }}

            <div class="form-group">
                {{ form_label( editTeamForm, "Nom de l'équipe" ) }}
                {{ form_widget( editTeamForm.name ) }}
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Modifier l'équipe</button>
            </div>

        {{ form_end( editTeamForm ) }}
    </div>
{% endblock %}