{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-4">{{ team.name }}</h1>

    {% include 'team/partial/menu.html.twig' %}

    <div class="col-12 col-md-6 mx-auto">
        {{ form_start( editTeamForm ) }}

        <div class="form-group">
            {{ form_label( editTeamForm, "Nom de l'équipe" ) }}
            {{ form_widget( editTeamForm.name ) }}
        </div>

        <div class="form-group">
            {{ form_label( editTeamForm.email, "E-mail") }}
            {{ form_widget( editTeamForm.email, {'attr': {'class': 'form-control'}} ) }}
        </div>

        <div class="form-group">
            {{ form_label( editTeamForm.managerLastName, "Nom du capitaine") }}
            {{ form_widget( editTeamForm.managerLastName, {'attr': {'class': 'form-control'}} ) }}
        </div>

        <div class="form-group">
            {{ form_label( editTeamForm.managerFirstName, "Prénom du capitaine") }}
            {{ form_widget( editTeamForm.managerFirstName, {'attr': {'class': 'form-control'}} ) }}
        </div>

        <div class="form-group">
            {{ form_label( editTeamForm.phoneNumber, "Numéro de téléphone") }}
            {{ form_widget( editTeamForm.phoneNumber, {'attr': {'class': 'form-control'}} ) }}
        </div>

        <div class="form-group">
            {{ form_label( editTeamForm.active, "Équipe active") }}
            {{ form_widget( editTeamForm.active, {'attr': {'class': 'form-control'}} ) }}
        </div>

        {% if club.pitches is defined %}
            <div class="form-group">
                {% for clubPitch in club.pitches %}
                    <div>
                        <input type="checkbox" name="pitches[]" {% if team.id is defined %}{% for teamPitch in team.pitches %}{% if teamPitch.id == clubPitch.id %}checked{% endif %}{% endfor %}{% endif %} value="{{ clubPitch.id }}"/>
                        {{ clubPitch.address }}
                        {% if clubPitch.teams|length > 1 %}
                            <span class="float-right text-danger">utilisé par {{ clubPitch.teams|length }} équipes</span>
                        {% else %}
                            <span class="float-right text-primary">utilisé par {{ clubPitch.teams|length }} équipe </span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Modifier l'équipe</button>
        </div>

        {{ form_end( editTeamForm ) }}
    </div>

{% endblock %}