{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="my-4">Les championnats</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path("generate_calendar") }}">Générer les journées</a>
        </div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary" href="{{ path('add_championship') }}"><i class="fas fa-plus"></i> Ajouter un championnat</a>
        </div>
    {% endif %}

    <ul class="list-group">
        {% if championships | length > 0 %}

            {% for championship in championships %}

                <li class="list-group-item d-flex justify-content-between">
                    {{ championship.name }}
                    <div>
                        <a class="btn btn-outline-info" href="{{ path('page_championship', {championshipId: championship.id}) }}">Voir la page</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-outline-info" href="{{ path('edit_championship', {championshipId: championship.id}) }}">Modifier</a>
                        {% endif %}
                    </div>
                </li>

            {% endfor %}

        {% else %}

            <li class="list-group-item m-2">Aucun championnat</li>

        {% endif %}
    </ul>

{% endblock %}