{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="my-4">Les championnats</h1>

    <div>
        <a href="{{ path("generate_calendar") }}">Générer les journées</a>
    </div>

    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" href="{{ path('add_championship') }}">Ajouter un championnat</a>
    </div>

    <ul class="list-group">
        {% if championships | length > 0 %}

            {% for championship in championships %}

                <li class="list-group-item d-flex justify-content-between">
                    {{ championship.name }}
                    <div>
                        <a class="btn btn-outline-info" href="{{ path('page_championship', {championshipId: championship.id}) }}">Voir la page</a>
                        <a class="btn btn-outline-info" href="{{ path('edit_championship', {championshipId: championship.id}) }}">Modifier</a>
                    </div>
                </li>

            {% endfor %}

        {% else %}

            <li class="list-group-item m-2">Aucun championnat</li>

        {% endif %}
    </ul>

{% endblock %}