<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('home') }}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('list_club') }}">Gérer les clubs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('list_championship') }}">Gérer les championnats</a>
                        </li>
                    {% endif %}
                    {% if not app.user %}
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'security_login' %}active{% endif %}">
                            <a href="{{ path('security_login') }}" class="nav-link">Connexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path('security_logout') }}" class="nav-link">Déconnexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
