{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-4">{{ club.name }}</h1>

    {% include 'club/partial/menu.html.twig' %}

    <h2>Les équipes</h2>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary" href="{{ path('add_team_club', {clubId: club.id}) }}"><i class="fas fa-plus"></i> Ajouter une équipe</a>
        </div>
    {% endif %}

    <span>
        <ul class="list-group my-2" id="teams-list">
            {% if club.teams | length > 0 %}

                {% for team in club.teams %}

                    <li class="list-group-item d-flex justify-content-between m-1 rounded">
                        {{ team.name }}
                        <div>
                            {% if team.active == 0 %}
                                <span class="badge badge-danger text-wrap">Inactive</span>
                            {% endif %}
                            {% if app.user and (is_granted('ROLE_ADMIN') or app.user.username == team.account.email) %}
                                <a class="btn btn-outline-info" href="{{ path('page_team', {'teamId': team.id}) }}">Voir la page</a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <button class="btn btn-outline-danger supprimer" data-Id="{{ team.id }}">Supprimer l'équipe</button>
                            {% endif %}
                        </div>
                    </li>

                {% endfor %}

            {% else %}

                <li class="list-group-item d-flex justify-content-between m-1 rounded">Aucune équipe n'existe dans ce club.</li>

            {% endif %}
        </ul>
    </span>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            let id;
            $(document).on('click', '.supprimer', function() {
                id = $(this).attr('data-Id');
                $('.modal-body').find('p').html("<strong>Attention!</strong><br/>La suppression de cette équipe supprimera le compte qui lui est rattaché." +
                    "<br/>Souhaitez-vous continuer?");
                $('#modal').modal('show');
            });
            $('#modal').on('show.bs.modal', e => {
                $(this).find('.btn-success').on('click', function(){
                    $.ajax({
                        url: '/team/'+id+'/remove'
                    });
                    $('#modal').modal('hide');
                    $("#teams-list").parent().load(document.URL + " #teams-list");
                });
            });
        })
    </script>
{% endblock %}