{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-4">{{ club.name }}</h1>

    {% include 'club/partial/menu.html.twig' %}

    <h2>Les terrains</h2>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary" href="{{ path("add_pitch_club", {clubId: club.id}) }}"><i class="fas fa-plus"></i> Ajouter un terrain</a>
        </div>
    {% endif %}

    <span>
        <div class="d-flex flew-wrap justify-content-around m-4" id="pitches-list">

            {% if club.pitches | length > 0 %}

                {% for pitch in club.pitches %}

                    <div class="card">
                        <div class="card-body">
                            <div class="card-title text-center text-uppercase">Terrain {{ loop.index }}</div>
                            <hr>
                            <p class="card-text">{{ pitch.address }}</p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-outline-info" href="{{ path('page_pitch', {'pitchId': pitch.id}) }}">Voir</a>
                                <button class="btn btn-outline-danger supprimer" data-Id="{{ pitch.id }}">Supprimer</button>
                            {% endif %}
                        </div>
                    </div>

                {% endfor %}

            {% else %}

                <div>Aucun terrain.</div>

            {% endif %}

        </div>
    </span>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            let id;
            $(document).on('click', '.supprimer', function() {
                id = $(this).attr('data-Id');
                $('.modal-body').find('p').html("<strong>Attention!</strong><br/>La suppression de ce terrain est définitive." +
                    "<br/>Souhaitez-vous continuer?");
                $('#modal').modal('show');
            });
            $('#modal').on('show.bs.modal', e => {
                $(this).find('.btn-success').on('click', function(){
                    $.ajax({
                        url: '/pitch/'+id+'/remove'
                    });
                    $('#modal').modal('hide');
                    $("#pitches-list").parent().load(document.URL + " #pitches-list");
                });
            });
        })
    </script>
{% endblock %}